In [11]:
import pandas as pd
from sklearn.metrics import r2_score
import joblib
from sklearn.preprocessing import LabelEncoder

In [12]:
model1=joblib.load("Gradient_Boosting.pkl")
best_model=joblib.load("Best_XGB_Regressor.pkl")

In [13]:
df=pd.read_csv("final_merged.csv")
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Whole Year,Winter,Summer,Kharif,Rabi,Rainfall,so2,no2,rspm,spm,pm2_5
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,2763.2,227.2,812.2,1244.2,479.5,1244.2,0.0,0.0,0.0,0.0,0.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,2763.2,227.2,812.2,1244.2,479.5,1244.2,0.0,0.0,0.0,0.0,0.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,2763.2,227.2,812.2,1244.2,479.5,1244.2,0.0,0.0,0.0,0.0,0.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,2763.2,227.2,812.2,1244.2,479.5,2763.2,0.0,0.0,0.0,0.0,0.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,2763.2,227.2,812.2,1244.2,479.5,2763.2,0.0,0.0,0.0,0.0,0.0

In [14]:
'''Encoding the categorical columns'''
le=LabelEncoder()
df['Crop']=le.fit_transform(df['Crop']) 
df['Season']=le.fit_transform(df['Season'])
df['Pollutants']=df['so2'] + df['no2'] + df['rspm'] + df['spm'] + df['pm2_5']
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Whole Year,Winter,Summer,Kharif,Rabi,Rainfall,so2,no2,rspm,spm,pm2_5,Pollutants
0,Andaman and Nicobar Islands,NICOBARS,2000,1,2,1254.0,2000.0,2763.2,227.2,812.2,1244.2,479.5,1244.2,0.0,0.0,0.0,0.0,0.0,0.0
1,Andaman and Nicobar Islands,NICOBARS,2000,1,74,2.0,1.0,2763.2,227.2,812.2,1244.2,479.5,1244.2,0.0,0.0,0.0,0.0,0.0,0.0
2,Andaman and Nicobar Islands,NICOBARS,2000,1,95,102.0,321.0,2763.2,227.2,812.2,1244.2,479.5,1244.2,0.0,0.0,0.0,0.0,0.0,0.0
3,Andaman and Nicobar Islands,NICOBARS,2000,4,7,176.0,641.0,2763.2,227.2,812.2,1244.2,479.5,2763.2,0.0,0.0,0.0,0.0,0.0,0.0
4,Andaman and Nicobar Islands,NICOBARS,2000,4,22,720.0,165.0,2763.2,227.2,812.2,1244.2,479.5,2763.2,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
y=df['Production']
X = df.drop(['Production', 'State_Name', 'District_Name', 'Crop_Year'], axis=1)

In [16]:
y_pred1=model1.predict(X)
y_pred2=best_model.predict(X)

In [ ]:
score1=r2_score(y,y_pred1)
score2=r2_score(y,y_pred2)

0.9827542817801798